{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Graph 3D</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script
  src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"
  integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>


<body>

	<div class="container-fluid">

		<div class="row">

			<div class="col-xs-8" id="viewport">
			</div>
	
			<div class="col-xs-4">
				<h1>G3D</h1>
				<p>An interative 3D <a href="https://en.wikipedia.org/wiki/Graph_(abstract_data_type)">Graph</a> visualizer.</p>

				<div class="input-group">
					<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
					<input type="text" placeholder="search wikipedia" id="wikisearch" class="form-control"  aria-describedby="basic-addon1">
				</div>

				<br>

				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" class="active"><a href="#explore">Explore</a></li>
					<li role="presentation"><a href="#paths">Paths</a></li>
				</ul>



				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="explore">

						<br>
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 id="selectedNodeNameUIDest" class="panel-title"></h3>
							</div>
							<div class="panel-body">
								<p id="selectedNodeIDUIDest"></p>
								<p id="selectedNodeDataUIDest"></p>

								<p class="text-muted"><small>Neightbours:</small></p>
								<div id="selectedNodeNeighboursUIDest">
									

								</div>
							</div>
						</div>
						
					</div>


					<div role="tabpanel" class="tab-pane" id="paths">
						
					</div>
				</div>



			</div>




		</div>
	</div>


	<script src="{% static 'js/three.js/build/three.js' %}"></script>
	<script src="{% static 'js/three.js/examples/js/exporters/OBJExporter.js' %}"></script>
	<script src="{% static 'js/js-priority-queue/priority-queue.js' %}"></script>
	<script src="{% static 'js/OrbitControls.js' %}"></script>
	<script src="{% static 'js/mySceneSetup.js' %}"></script>
	<script src="{% static 'js/graph-node.js' %}"></script>
	<script src="{% static 'js/bridge.js' %}"></script>
	<script src="{% static 'js/scene.js' %}"></script>
	<script type="text/javascript">
		initScene();
		setupKeyListeners();
	    quickSearchInit();



	    // '{{ graphData }}'


	    var wikiLink = "https://en.wikipedia.org/wiki/Sachin_Tendulkar";

	    function getGraphData(wikiLink) {
	    	var retStr = "";
	    	foo();
	    	retStr = '{{ graphData }}';
	    	return retStr;
	    }


		var textDataForGraph = getGraphData(wikiLink);
	    textDataForGraph = textDataForGraph.replace(/&quot;/g,'"');
	    var jsonDataForGraph = JSON.parse(textDataForGraph);


		var msgArray = [];
	    var retMesg = "";
	    msgArray.push(retMesg);
    	updateGraph(jsonDataForGraph, msgArray);
    	retMesg = msgArray[0];
    	if (retMesg != "") {
    		console.log(retMesg);
    	}

	</script>


</body>
</html>