{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
	<title>Graph 3D</title>

	<link rel="stylesheet" href="">

	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="{% static 'js/three.js/build/three.js' %}"></script>
	<script src="{% static 'js/three.js/examples/js/exporters/OBJExporter.js' %}"></script>
	<script src="{% static 'js/js-priority-queue/priority-queue.js' %}"></script>
	<script src="{% static 'js/OrbitControls.js' %}"></script>
	<script src="{% static 'js/mySceneSetup.js' %}"></script>
	<script src="{% static 'js/graph.js' %}"></script>
</head>


<body>


	<div id="viewport"></div>


	<script type="text/javascript">
		initScene();
		setupKeyListeners();
	</script>


</body>
</html>