.grey-box {
	background-color: #EBEBEB;
	padding: 8px;
	text-align: middle;
	vertical-align: middle;
	margin: 4px;
	border-radius: 5px;
	cursor: pointer;
}
.grey-box:hover {
	background-color: #AAAAAA;
}


#selectedNodeIDUIDest {
	height: 15px;
}


#selectedNodeNameUIDest {
	height: 20px;
}


#selectedNodeDataUIDest {
	height: 320px;
	overflow-x: hidden;
	overflow-y: auto;
}


#selectedNodeIDUIDest {
	text-align: right;
	color: #AAAAAA;
	font-style: italic;
	font-size: 12px;
}


#selectedNodeNeighboursUIDest {
	height: 240px;
	overflow-x: hidden;
	overflow-y: auto;
}
